*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}  
.shadow{
	height:40px !important;
	width:40px !important;
	line-height:40px;
	text-align:center;
}
.sec1-div1 p{
	color:#525FE1;
	font-weight:600;
}
.sec1-div1 h1{
	font-size:65px;
	font-weight:900;
	line-height:85px;
}

.sec1-div1-border{
	border-left:3px solid #525FE1;
	padding-left:20px;
}
.sec1-div1-border p{
	color:black !important;
	font-weight:400 !important; 
} 
.sec1-div2-col3-cnt h1{
	font-size:15px;
}
.sec1-res-order-div3{
	transition:all .5s ease-in-out;
}
.sec2-div2 .sec2-div2-cnt{
	background: rgba(251, 124, 86, 0.1);
    height: 80px;
    width: 80px;
    border-radius: 50%; 
}
.accordion {
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border-left:none;
  border-top:1px solid gray;
  border-bottom:none;
  border-right:none;
  text-align: left; 
  font-size: 15px;
  transition: 0.4s;
  background-color:white;
} 
.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  /* background-color: white; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.owl-prev{
	position: absolute;
    bottom: 0px;
    right: 70px;
    font-size: 35px!important;
    background-color: rgb(82 94 225 / 32%) !important;
    width: 50px;
    height: 50px;
    display: flex!important;
    align-content: center !important;
    flex-wrap: wrap!important;
    justify-content: center !important;  
	color:#525FE1 !important;
	transition: .5s ease;
}
.owl-prev span{
	display:block;
	height:60px;
}
.owl-next{
	position: absolute;
    bottom:0px;
    right: 0px;
    font-size: 35px!important;
    background-color: rgb(82 94 225 / 32%) !important;
    width: 50px;
    height: 50px;
    display: flex !important;
    align-content: center !important;
    flex-wrap: wrap!important;
    justify-content: center !important;  
	color:#525FE1 !important;
}
.owl-next span{
	display:block;
	height:60px;
}
.owl-dots{
	display:none !important;
}
.footer-div1-icon i{
  background-color: gray;
  color: white;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
}
.footer-div1-icon i:hover{
  color: #3da2e1;
  transition: .3s;
  background-color: white;
}
.class-ul li{
  cursor: pointer;
}
.class-ul li:hover{
  cursor: pointer;
  color: #3da2e1;
  transition: .3s;
}

/* menubar */
.sec1-menubar{
	display: none;
}
.menubar{
	position: fixed;
	top:0px;
	right:0px; 
	background-color:white;
	height:100vh;
  z-index: 99999;
  display: none;
}
.menubar-ul {
	margin-top: 30px;
}
.menubar-ul li{
	list-style-type: none;
	padding: 10px 0px;
}
.menubar-ul li a{
	text-decoration: none;
	color:black;
	font-size: 19px;
}
.menubarBlock{
	display: block!important;
}
/* */